$font-stack: 'Syne Mono';

@font-face {
  font-family: $font-stack;
  src: 
    url(../../assets/fonts/SyneMono-Regular.woff2) format("woff2"),
    url(../../assets/fonts/SyneMono-Regular.woff) format("woff"),
    url(../../assets/fonts/SyneMono-Regular.ttf) format("truetype");
  font-weight: 400;
}

h1 {
  font-size: 1.5rem;
}

a {
  font-size: 1rem;
}

p, span, pre {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

button {
  font-size: 1rem;
}