.upgrade {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 284px;
    height: 250px;
    padding: 8px;
    border: 2px solid;
    border-radius: 10px;
  }

  &__header {
    margin-bottom: .75rem;
  }

  &__back {
    margin-top: auto;
  }
}

.option {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__container {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
  }
  &__cta {
    display: flex;
    justify-content: space-between;
  }
}